.kwc-spinner-wrap
  .kwc-spinner-bar
    .kwc-spinner-prog
  script(src="../entries/spinner.ts")

<!-- <div class="kwc-spinner-wave" style="animation-delay: 0s;"></div>
<div class="kwc-spinner-wave" style="animation-delay: 0.5s;"></div>
<div class="kwc-spinner-wave" style="animation-delay: 1s;"></div>
<div class="kwc-spinner-wave" style="animation-delay: 1.5s;"></div> -->
