!= '<script src="/js/jquery-3.2.1.js"></script>'
!= '<script src="/js/scroll-magic.js"></script>'
!= '<script src="/js/animation.js"></script>'
!= '<script src="/js/tween-max.js"></script>'
<script src="../entries/main.ts"></script>

//- <script src="../entries/editor.tsx"></script>
