.kwc-intro

.kwc-intro__description
  .kwc-intro__description-inner
    |This city was so densely populated that daylight didn't reach it. It was formed on territory not
    |controlled by any state within the boundaries of Hong Kong. Having become a real lair of anarchy, its very
    |appearance inspired horror.
