
|https://cityofdarkness.co.uk/
|https://zolimacitymag.com/one-of-a-kind-the-kowloon-walled-city-through-the-eyes-of-photographer-greg-girard/
|https://www.greggirard.com/city-of-darkness/
|https://cityofdarkness.co.uk/water-fit-to-drink/#post1032

|Воды!

|Водоснабжение всегда было одной из острейших проблем обитателей Коулуна. Вначале воды в городе не было от слова совсем. Жителям приходилось набирать воду в колодце, расположенном за пределами города. Затем появились водоносы, которые за 15 долларов в месяц с человека были готовы приносить воду по расписанию из того самого колодца.
|Вскоре местные предприниматели поняли, что на этой проблеме можно заработать. Они выкопали несколько колодцев в черте города, поставили туда электронасосы, которые ежедневно в определённое время включались и наполняли водой резервуары, которые находились на крышах. А оттуда вода поставлялась жильцам, и стоило всё это удовольствие около 40 долларов в месяц. Состояние всех этих полуинженерных сооружений было весьма плачевным, и очень часто по улицам приходилось ходить под зонтом, так как вода порой на голову не просто капала, а вполне себе лилась.
|Тем не менее проблему до конца это не решило. Если вода в резервуарах кончалась, то приходилось ждать следующего включения насосов. К тому же, такая вода не была пригодна не то что для питья — даже для купания. Плотность населения вкупе с отсутствием системы избавления от отходов сделали землю Коулуна рассадником всевозможной заразы.
| > Коротко о водоснабжении: Коулун, 20-й век. Колодцы.
| Фотогрфии колодцев
| > Проблема водоснабжения так и не была решена окончательно

|Света!
|До 1953 года в городе-крепости электричества не было вообще. Толчком к электрификации «всего и вся» послужил очень крупный пожар, произошедший в новогоднюю ночь 1953 года в лагере беженцев с материкового Китая в районе Шек Кип Мей (Shek Kip Mei), когда от огня без крова остались более 50000 человек. В те времена подобные поселения довольствовались лишь керосиновыми лампами для освещения и печами для приготовления пищи на твердом или жидком топливе.
|Ходили слухи, что этот пожар был устроен специально для привлечения внимания властей к проблеме ужасных условий жизни в «картонных» поселениях беженцев и бедных районов Гонконга. И это сработало - начиная с 1953 года местная электроэнергетическая компания «China Light and Power» начала активную работу по подключению абсолютно всех объектов на территории Гонконга, чтобы сократить использования открытого огня в быту. В их число вошел и Walled City.

|Чистоты!
|Напомним, что площадь этого города-крепости составляла всего лишь 2.7га, и на ней находилось около четырехсот зданий, в которых проживало огромное количество людей и работало более 1000 различных мелких заводиков. Представьте, сколько биологического и производственного мусора рождалось здесь ежедневно. Несмотря на старания регулярно вывозить мусор, на помойку тут было похоже абсолютно все: улицы, крыши и почти каждая квартира.


<div class="kwc-letter kwc-letter-b" data-text="БЫТ">
  <div class="kwc-letter-b-bg"></div>
  <img src="img/b.svg" alt="">
  <div class="kwc-letter-text kwc-letter-b-text-1"></div>
  <div class="kwc-letter-text kwc-letter-b-text-2"></div>
</div>

<div class="kwc-letter kwc-letter-c" data-text="СФЕРЫ ЖИЗНИ">
  <div class="kwc-letter-c-bg"></div>
  <img src="img/c.svg" alt="">
  <div class="kwc-letter-text kwc-letter-c-text-1"></div>
  <div class="kwc-letter-text kwc-letter-c-text-2"></div>
</div>

<div class="kwc-letter kwc-letter-n" data-text="НАСЕЛЕНИЕ">
  <div class="kwc-letter-n-bg"></div>
  <img src="img/n1.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-3"></div>
  <div class="kwc-letter-text kwc-letter-n-text-4"></div>
  <div class="kwc-letter-text kwc-letter-n-text-5"></div>
  <img src="img/n2.svg" alt="">
  <div class="kwc-letter-text kwc-letter-n-text-1"></div>
  <div class="kwc-letter-text kwc-letter-n-text-2"></div>
</div>

<div id="letter-e" class="kwc-letter kwc-letter-i" data-text="ИСТОРИИ">
  <div class="kwc-letter-i-bg"></div>
  <img src="img/i1.svg" alt="">
  <div class="kwc-letter-text kwc-letter-i-text-3"></div>
  <div class="kwc-letter-text kwc-letter-i-text-4"></div>
  <img src="img/i2.svg" alt="">
  <div class="kwc-letter-text kwc-letter-i-text-1"></div>
  <div class="kwc-letter-text kwc-letter-i-text-2"></div>
</div>

<div class="kwc-stories">
  <div class="kwc-stories__inner">
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/albert.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Albert Campo, pastor</div>
          <div class="kwc-story__bio">Lived in Kowloon for 16 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">Dangerous childhood</div>
          <div class="kwc-story__text">
            |When I was a boy, the desire to explore Kowloon never left me for a minute.
            |I wandered through the dark corners of the city, but no matter how confused I got, I somehow always found
            |my way back home. My greatest pleasure was walking on the rooftops, because they were a place where my friends
            |and I could play. We would jump on the mattresses that people threw out of their apartments and pretend that
            |they were trampolines. We knew that the airport was a 10-minute walk away. When the planes flew over us, we
            |could clearly see the people in them, who, in turn, could see us clearly through the portholes. But we didn't
            |realize how dangerous it was to play on the roof, and we let kites fly into the sky, sometimes even while
            |another plane was flying right over our heads. It was a breathtaking sight!</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/yung.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Jung Lai-wan, dim sum vendor</div>
          <div class="kwc-story__bio">Lived in Kowloon for 22 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">Plan B</div>
          <div class="kwc-story__text">
            |We moved to Kowloon when my eldest daughter was one year old. Our neighbors from
            |Guangzhou also moved there. We chose this place because the housing was cheap. When my children grew up,
            |my husband lost his job, and we just started making dim sum and selling them. We all woke up every day
            |at 5 a.m. My husband made the buns, and the kids helped make the buns. We steamed them, and as soon
            |as they were ripe, we took them out onto the street and sold them. We had a wooden cart, the kind vendors use,
            |and inside it was an oven, which kept the baked goods warm. Dim sum tastes better when hot, right?</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/chan.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Chan Chung-chuen, cartographer</div>
          <div class="kwc-story__bio">Lived in Kowloon for 6 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">The Cartographer Who Walked on the Roof</div>
          <div class="kwc-story__text">
            |Kowloon was like a labyrinth to me. I would leave work, take a flashlight,
            |and walk through its nooks and crannies, measuring everything with a ruler. I never knew what might happen:
            |sometimes a stream of water would fall on me from above. It was like an underground exploration.
            |In some places it was pitch dark, and even with a flashlight in my hands, I felt uneasy. If I suddenly heard
            |a rustling sound or a loud noise, I would immediately run away in fear. Dogs chased me. I was yelled at and
            |sworn at by locals. It became especially difficult to visit Kowloon after the information about
            |the demolition was made public, because its inhabitants were at their limit. They did not know who we were,
            |and did not want to share any information, did not allow anyone to enter their homes. At that time, when
            |I lived there, I only moved around on the roof, that is, to get to the destination, you did not need to go down!
            |The roofs had their own markings, roads. I called it the Kowloon Highway.</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/pol.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Paul Tang, former mafioso</div>
          <div class="kwc-story__bio">Lived in Kowloon for 30 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">Broke down</div>
          <div class="kwc-story__text">
            |Kowloon was good for three things: crack dens, brothels, and unlicensed dentists.
            |My father moved to Kowloon from mainland China and built a small shop right in our Kowloon apartment.
            |He divided it into two parts — the work area of ​​the shop and the bedroom behind the wall.
            |I often helped my father with the shop, working as a salesman. The shop, in addition to household goods and food,
            |also sold drug paraphernalia. Shop visitors often offered me to try it myself, but I held back. At some point
            |I finally tried it and couldn't stop.</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/wong.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Wong Chun-ping, fish ball maker</div>
          <div class="kwc-story__bio">Lived in Kowloon for 30 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">Craftsman</div>
          <div class="kwc-story__text">
            |When I wasn't studying or playing, I had to take care of my brothers and sisters,
            |and I took on this chores to help my parents. Our family made and sold fish balls. My father got up every day
            |at 4 a.m. to go to the market and prepare all the ingredients. I was assigned to mold the balls, and I did it
            |very quickly. Fishball-making competitions were often shown on TV, and I could make them even faster than the
            |winners of those shows. In a minute, I could make more than 100 fishballs. Sometimes our friends and neighbors
            |would crowd around our house just to watch this process.</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
    <div class="kwc-story">
      <div class="kwc-story__inner">
        <div class="kwc-story__person">
          <img src="img/persons/lam.jpg" class="kwc-story__photo" />
          <div class="kwc-story__name">Lam Po-chun, postman</div>
          <div class="kwc-story__bio">Worked in Kowloon for 12 years</div>
        </div>
        <div class="kwc-story__info">
          <div class="kwc-story__title">The costs of the profession</div>
          <div class="kwc-story__text">
            |My mentor told me that it usually took him a month to prepare a student for work.
            |At that time, I was very hungry for knowledge, and it took me only two weeks. Even during dinner,
            |I thought about street and house numbers. Sometimes, while taking a shower, I would sing: "2, 6, 9,
            |and after 9 comes 3, then comes 32, and after that comes 32, 11 and 12." I kept mumbling something about
            |numbers. The main difficulty was that many of the houses didn't even have numbers. Kowloon was the only
            |place that shocked me in my years as a postman. Postmen rarely experience shock in their profession.
            <br />
            <br />
            |The letter boxes were made of steel, and there were a lot of electric wires on top. I hardly knew that
            |one of the wires was touching the metal box. And at the moment when I was throwing in the letter,
            |I was electrocuted. Since I left this place, I have never seen such huge rats in Hong Kong. But for Kowloon,
            |this was a common sight. The rats were the size of cats. Their bellies dragged on the ground. I have never
            |seen such horror anywhere else!</div>
        </div>
      </div>
      <div class="kwc-story__fade"></div>
    </div>
  </div>
</div>

<footer class="kwc-footer">
  <a href="http://www.kwc.guide/" class="footer-nav">
    <p class="footer-nav-title arch">Архитектура</p>
    <p class="footer-text num">01</p>
  </a>
  <div class="footer-curr-content">
    <a class="ft-cont-65" href="http://www.kwc.guide/people">
      <div class="ft-ch-box">
        <p class="footer-ch">Следующая глава</p>
        <img src="/img/arrow.svg" alt="">
      </div>
      <p class="ft-text-lg">Люди</p>
      <span class="ft-menu-num">02</span>
    </a>
    <div class="ft-cont-35">
        <a href="http://www.kwc.guide/people#letter-n" class="footer-text">Население</a>
        <a href="http://www.kwc.guide/people#letter-c" class="footer-text">Сферы жизни</a>
        <a href="http://www.kwc.guide/people#letter-e" class="footer-text">Истории</a>
    </div>
  </div>
  <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-nav">
    <p class="footer-nav-title his">История</p>
    <p class="footer-text num">03</p>
  </a>
  <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-nav">
    <p class="footer-nav-title fact">Факты</p>
    <p class="footer-text num">04</p>
  </a>
</footer>

<footer class="kwc-footer">
  <a href="http://www.kwc.guide/" class="footer-nav">
    <p class="footer-nav-title arch">Архитектура</p>
    <p class="footer-text num">01</p>
  </a>
  <a href="http://www.kwc.guide/people" class="footer-nav">
    <p class="footer-nav-title people">Люди</p>
    <p class="footer-text num">02</p>
  </a>
  <div class="footer-curr-content">
    <a class="ft-cont-65" href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8">
      <div class="ft-ch-box">
        <p class="footer-ch">Следующая глава</p>
        <img src="/img/arrow.svg" alt="">
      </div>
      <p class="ft-text-lg">История</p>
      <span class="ft-menu-num">03</span>
    </a>
    <div class="ft-cont-35">
        <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-text">Зарождение</a>
        <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-text">Развитие</a>
        <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-text">Снос</a>
    </div>
  </div>
  <a href="http://www.kwc.guide/%D0%BD%D0%B5-%D1%83%D1%81%D0%BF%D0%B5%D0%BB%D0%B8" class="footer-nav">
    <p class="footer-nav-title fact">Факты</p>
    <p class="footer-text num">04</p>
  </a>
</footer>
