[datamodule-id='1873'] {
  border-left: 2px solid #fff;
  padding-left: 20px;
}

[datamodule-id='1940'],
[datamodule-id='1930'],
[datamodule-id='1919'],
[datamodule-id='1945'],
[datamodule-id='1883'] {
  border-left: 2px solid #000;
  padding-left: 20px;
}

[data-id='463'] {
  padding-top: 30vh;
}

[datamodule-id='1980'],
[datamodule-id='1933'],
[datamodule-id='1922'],
[datamodule-id='1912'],
[datamodule-id='1906'],
[datamodule-id='1960'],
[datamodule-id='1947'],
[datamodule-id='1881'],
[datamodule-id='1867'],
[datamodule-id='1831'],
[datamodule-id='1814'],
[datamodule-id='1802'],
[datamodule-id='1799'] {
  padding-left: 35px;
  position: relative;
}

[datamodule-id='1980']:before,
[datamodule-id='1933']:before,
[datamodule-id='1922']:before,
[datamodule-id='1912']:before,
[datamodule-id='1906']:before,
[datamodule-id='1960']:before,
[datamodule-id='1947']:before,
[datamodule-id='1881']:before,
[datamodule-id='1867']:before,
[datamodule-id='1831']:before,
[datamodule-id='1814']:before,
[datamodule-id='1802']:before,
[datamodule-id='1799']:before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 4px;
}

[datamodule-id='1980']:before,
[datamodule-id='1933']:before,
[datamodule-id='1922']:before,
[datamodule-id='1912']:before,
[datamodule-id='1867']:before,
[datamodule-id='1831']:before,
[datamodule-id='1814']:before {
  background-color: #fff;
}

[data-id='463'] .row-container.container:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  background-image: url('http://ucraft.neekeesh.com/img/quote.svg');
  width: 359px;
  height: 324px;
}

[data-id='463'] .row-container.container {
  max-width: 1000px;
  padding-left: 300px;
}

[data-id='463'] .row-container.container > * {
  position: relative;
  padding: 10px;
  background-color: #000;
}

[data-id='483'] {
  padding-top: 60px;
  padding-bottom: 30vh;
}

[data-id='483'] .row-container.container {
  padding-left: 260px;
  max-width: 1000px;
}

[datacolumn-id='895'] {
  width: fit-content;
  flex-basis: auto !important;
}
