body {
  overflow-x: hidden;
}

.kwc-intro,
.kwc-intro > * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kwc-intro {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.kwc-intro:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  height: 20vh;
  pointer-events: none;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 255))
  );
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 255));
}

.kwc-intro-text-perspective {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.kwc-intro-text-mover {
  position: relative;
  -webkit-animation-name: kwc-text-move;
  animation-name: kwc-text-move;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes kwc-text-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes kwc-text-move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.kwc-intro-text {
  position: relative;
  line-height: 1;
  font-weight: bold;
  font-family: 'RF Dewi Expanded Black Custom';
  text-align: left;
}

.kwc-intro-text.kwc-intro-text-chinese {
  font-family: 'Typeface Custom';
  font-weight: 400;
  letter-spacing: 0.1em;
}

.kwc-intro-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.kwc-intro-body {
  pointer-events: none;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

/**
 * TITLE
 */

.kwc-title {
  max-width: 100%;
  height: calc(40vw + 200px);
  margin-bottom: -40vw;
  overflow: hidden;
  background-color: #fff;
}

.kwc-title-inner {
  position: relative;
  width: 1200px;
  height: 40vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kwc-title-column {
  position: absolute;
  top: 0;
  right: 66.666%;
  width: 200vw;
  min-width: 33.333%;
  text-align: right;
  height: 300px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.kwc-title-column {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f7f7),
    to(transparent)
  );
  background: -webkit-linear-gradient(#f7f7f7, transparent);
  background: -o-linear-gradient(#f7f7f7, transparent);
  background: linear-gradient(#f7f7f7, transparent);
}

.kwc-title-skew {
  position: absolute;
  top: 0;
  left: 33.333%;
  width: 200vw;
  height: 300px;
  min-width: 66.666%;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.kwc-title-skew:before {
  content: '';
  display: block;
  position: absolute;
  top: -300px;
  left: -300px;
  width: 600px;
  height: 600px;
  background: -webkit-radial-gradient(closest-side, #eee, transparent);
  background: -o-radial-gradient(closest-side, #eee, transparent);
  background: radial-gradient(closest-side, #eee, transparent);
}

.kwc-title-column,
.kwc-title-skew {
  overflow: hidden;
}

.kwc-title-mover {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.kwc-title-text {
  padding-right: 40px;
  font-size: 120px;
  font-family: 'RF Dewi Expanded Black Custom';
}

/**
 * PREV BG
 */

.kwc-title-fill-bg .kwc-title-inner:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 33.333%;
  width: 100vw;
  height: 40vw;
  min-width: 66.666%;
  background-color: #000;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
}

/**
 * REVERSED TITLE
 */

.kwc-title-fill-bg .kwc-title.kwc-title-reverse .kwc-title-inner:before {
  left: auto;
  right: 33.333%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  transform: skewY(-20deg);
}

.kwc-title.kwc-title-reverse .kwc-title-column {
  right: auto;
  left: 66.666%;
  min-width: 33.333%;
}

.kwc-title.kwc-title-reverse .kwc-title-skew {
  -webkit-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  transform: skewY(-20deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  left: auto;
  right: 33.333%;
}

.kwc-title.kwc-title-reverse .kwc-title-skew:before {
  left: auto;
  right: -300px;
}

/**
 * DARK THEME
 */

.kwc-title.kwc-title-dark,
.kwc-title.kwc-title-dark .kwc-title-skew {
  background-color: #000;
}

.kwc-title.kwc-title-dark .kwc-title-column {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#171717),
    to(transparent)
  );
  background: -webkit-linear-gradient(#171717, transparent);
  background: -o-linear-gradient(#171717, transparent);
  background: linear-gradient(#171717, transparent);
}

.kwc-title.kwc-title-dark .kwc-title-skew:before {
  background: -webkit-radial-gradient(closest-side, #272727, transparent);
  background: -o-radial-gradient(closest-side, #272727, transparent);
  background: radial-gradient(closest-side, #272727, transparent);
}

.kwc-title.kwc-title-dark .kwc-title-text {
  color: #fff;
}

.kwc-title.kwc-title-dark.kwc-title-fill-bg .kwc-title-inner:before {
  background-color: #fff;
}

/**
 * Letters
 */
.kwc-letter {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.kwc-letter img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.kwc-letter-text {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(100vw / 13);
  font-family: 'RF Dewi Expanded Black Custom';
  transform-origin: 0 0;
  line-height: 1;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.kwc-letter-text-itm {
  position: relative;
  width: fit-content;
}

/**
 * A
 */

.kwc-letter-a {
  color: #fff;
}

.kwc-letter-a:after {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
}

.kwc-letter-a-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.kwc-letter-a-bg:after,
.kwc-letter-a-bg:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
}

.kwc-letter-a-bg:before {
  top: 40%;
  left: 0;
  height: 60%;
  width: 50%;
}

.kwc-letter-a-bg:after {
  top: 55%;
  left: 50%;
  height: 45%;
  width: 50%;
}

.kwc-letter-a-text-1 {
  left: 0;
  width: 50%;
  top: 5.4%;
  transform: skewY(20deg);
}

.kwc-letter-a-text-2 {
  left: 50%;
  width: 16.666%;
  top: 57.4%;
}

.kwc-letter-a-text-3 {
  left: 50%;
  width: 16.666%;
  top: 40%;
}

.kwc-letter-a-text-4 {
  left: 66.666%;
  width: 16.666%;
  top: 40%;
  transform: skewY(20deg);
}

.kwc-letter-a-text-5 {
  right: 0;
  width: 16.666%;
  top: 57.4%;
}

/**
 * B
 */

.kwc-letter-b {
  color: #000;
}

.kwc-letter-b-bg {
  position: absolute;
  width: 50%;
  top: 0;
  left: 50%;
  height: 60%;
  background-color: #000;
}

.kwc-letter-b:after {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
}

.kwc-letter-b-text-1 {
  left: 0;
  width: 50%;
  top: 5.4%;
  transform: skewY(20deg);
}

.kwc-letter-b-text-2 {
  left: 50%;
  width: 50%;
  top: 57.4%;
}

/**
 * K
 */

.kwc-letter-k {
  color: #000;
}

.kwc-letter-k-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.kwc-letter-k-bg:before,
.kwc-letter-k-bg:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
}

.kwc-letter-k-bg:before {
  width: 60%;
  top: 0;
  left: 40%;
  height: 60%;
}

.kwc-letter-k-bg:after {
  width: 50%;
  top: 0;
  left: 0;
  height: 20%;
}

.kwc-letter-k:after {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
}

.kwc-letter-k-text-1 {
  left: 0;
  width: 50%;
  top: 5.4%;
  transform: skewY(20deg);
}

.kwc-letter-k-text-2 {
  left: 50%;
  width: 16.666%;
  top: 57.4%;
}

.kwc-letter-k-text-3 {
  left: 50%;
  width: 33.333%;
  top: 40.7%;
  transform: skewY(10deg);
}

.kwc-letter-k-text-4 {
  right: 0;
  width: 16.666%;
  top: 57.4%;
}

/* Navigation */
.nav-btn {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1002;
  width: 50px;
  height: 50px;
  background: #000;
  cursor: pointer;
  /* border-right: 1px solid #979797; */
}

.nav-bar-box {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  padding: 18px 16px 0;
}

.nav-btn:hover .nav-bar-box {
  transform: rotate(90deg);
}

.nav-btn:hover.open .nav-bar-box {
  transform: rotate(0);
}

.nav-btn.open .nav-bar:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(0.5px);
}

.nav-btn.open .nav-bar:nth-child(2) {
  width: 0;
}

.nav-btn.open .nav-bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px) translateX(6px);
}

.nav-bar {
  display: block;
  width: 18px;
  height: 1.25px;
  background: #fff;
  margin: 0 0 7px;
  transition: all ease-in-out 0.3s;
}

.nav-bar:nth-last-of-type(1) {
  margin: 0;
}

.nav-text {
  position: fixed;
  top: 0;
  left: 50px;
  background: #000;
  width: calc(16.66% - 50px);
  height: 50px;
  z-index: 1000;
}

/* Menu */
.kwc-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  /* background: #000; */
  transform: translateX(-100vw);
  transition: all ease-in-out 0.4s;
  z-index: 1001;
}

.kwc-menu.open {
  transform: translateX(0);
}

.menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.menu-col {
  height: 100vh;
  width: 25%;
  padding: 0 30px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.menu-border {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 0;
  width: 1px;
  background: #fff;
  z-index: 2;
}

.menu-num {
  font-family: 'RF Dewi Expanded Black';
  font-size: 72px;
  letter-spacing: 3px;
  position: absolute;
  top: 100px;
  left: -200px;
  opacity: 0;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  z-index: 2;
}

.nav-box {
  position: absolute;
  opacity: 0;
  left: -200px;
  z-index: 2;
  /* transform: translateX(-250px); */
}

.nav-box p {
  display: block;
  color: #000;
  font-family: 'RF Dewi Regular';
  z-index: 2;
}

.nav-status {
  font-size: 14px;
  padding: 0 0 80px;
}

.nav-title {
  font-size: 36px;
  padding: 0 0 30px;
}

.nav-item {
  font-size: 18px;
  padding: 0 0 15px;
}

.menu-col-1 {
  background: url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f24b4a7bf9f24d1ba5f899339e6949f3');
  background-size: cover;
}

.menu-col-2 {
  background: url('http://www.visitgreece.gr/deployedFiles/StaticFiles/Photos/Generic%20Contents/Forests/mountains_2_560.jpg');
  background-size: cover;
}

.menu-col-3 {
  background: url('https://www.tripsavvy.com/thmb/VcjtcUR_WdXiA0eA1phgE4VBzPY=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/scenic-view-of-snowcapped-mountains-against-blue-sky-740670351-598783ea03f402001065a152.jpg');
  background-size: cover;
}

.menu-col-4 {
  background: url('https://images.unsplash.com/photo-1528150113746-eedf29a184c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418cfe031d636ba13d884ecb0f791291&w=1000&q=80');
  background-size: cover;
}

.menu-bg canvas {
  z-index: 1;
}