<div class="kwc-letter kwc-letter-k" data-text="KOWLOON">
  <div class="kwc-letter-k-bg"></div>
  img(src=require('/src/assets/img/letters/k1.svg') alt="")
  <div class="kwc-letter-text kwc-letter-k-text-3"></div>
  <div class="kwc-letter-text kwc-letter-k-text-4"></div>
  img(src=require('/src/assets/img/letters/k2.svg') alt="")
  <div class="kwc-letter-text kwc-letter-k-text-1"></div>
  <div class="kwc-letter-text kwc-letter-k-text-2"></div>
  <div class="kwc-k-grid"></div>
</div>

<div class="kwc-grid-k">
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <h6>53</h6>
      <p>thousands of people — a&nbsp;historical maximum, recorded in 1994</p>
    </div>
    <div class="column">
      <p>All these people lived in an area comparable to two football fields</p>
      img(src=require('/src/assets/img/field.svg') alt="")
    </div>
    <div class="column">
      <h6>2,6</h6>
      <p>million people per square kilometer</p>
    </div>
    <div class="column">
      //- <!-- <p>If the same population density were in Moscow, then all the residents of the USA and Europe combined would fit here.</p> -->
      //- <!-- <img src="/img/flags.svg" alt=""> -->
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
      <h6>500</h6>
      <p>buildings piled close to each other, and even on top of each other</p>
    </div>
    <div class="column">
      <strong>Also known as</strong>
      <p>
        |City of Darkness
        <br>Walled City
        <br>Lawless Enclave
      </p>
    </div>
    <div class="column">
      <!-- <img src="/img/church.svg" alt=""> -->
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column">
      //- <p>
      //-   |Город в&nbsp;городе
      //-   <br>Государство в&nbsp;государстве
      //- </p>
    </div>
    <div class="column"></div>
    <div class="column">
      <p>The city has earned mentions in books, films, and computer games</p>
    </div>
    <div class="column"></div>
  </div>
</div>
