html(lang="en")

  head
    include /src/ui/document/head.pug

  body
    include /src/ui/components/spinner/spinner.pug

    include /src/ui/sections/intro/section-intro.pug
    include /src/ui/sections/grid-intro/section-grid-intro.pug
    include /src/ui/sections/general/section-general.pug
    include /src/ui/sections/architecture/section-architecture.pug

    include /src/ui/document/scripts.pug
