[datamodule-id='1940'],
[datamodule-id='1919'],
[datamodule-id='1930'],
[datamodule-id='1873'] {
  border-left: 2px solid #fff;
  padding-left: 20px;
}

[datamodule-id='1945'],
[datamodule-id='1883'] {
  border-left: 2px solid #000;
  padding-left: 20px;
}

.divider-inner {
  height: 2px !important;
}
[data-id='463'] {
  padding-top: 30vh;
}

[datamodule-id='1980'],
[datamodule-id='1933'],
[datamodule-id='1922'],
[datamodule-id='1912'],
[datamodule-id='1906'],
[datamodule-id='1960'],
[datamodule-id='1947'],
[datamodule-id='1881'],
[datamodule-id='1867'],
[datamodule-id='1831'],
[datamodule-id='1814'],
[datamodule-id='1802'],
[datamodule-id='1799'] {
  padding-left: 35px;
  position: relative;
}

[datamodule-id='1980']:before,
[datamodule-id='1933']:before,
[datamodule-id='1922']:before,
[datamodule-id='1912']:before,
[datamodule-id='1906']:before,
[datamodule-id='1960']:before,
[datamodule-id='1947']:before,
[datamodule-id='1881']:before,
[datamodule-id='1867']:before,
[datamodule-id='1831']:before,
[datamodule-id='1814']:before,
[datamodule-id='1802']:before,
[datamodule-id='1799']:before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 4px;
}

[datamodule-id='1980']:before,
[datamodule-id='1933']:before,
[datamodule-id='1922']:before,
[datamodule-id='1912']:before,
[datamodule-id='1867']:before,
[datamodule-id='1831']:before,
[datamodule-id='1814']:before {
  background-color: #fff;
}

[data-id='463'] .row-container.container:before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  background-image: url('/img/quote.svg');
  width: 359px;
  height: 324px;
}

[data-id='463'] .row-container.container {
  max-width: 1000px;
  padding-left: 300px;
}

[data-id='463'] .row-container.container > * {
  position: relative;
  padding: 10px;
  background-color: #000;
}

[data-id='483'] {
  padding-top: 60px;
  padding-bottom: 30vh;
}

[data-id='483'] .row-container.container {
  padding-left: 260px;
  max-width: 1000px;
}

[datacolumn-id='895'] {
  width: fit-content;
  flex-basis: auto !important;
}

/* Grid */
.kwc-k-grid {
  position: absolute;
  top: 52.6%;
  left: 0;
  width: 100%;
  padding-top: 80.6%;
  background-image: url('../img/k-grid.svg');
  background-position: 0 0;
  background-size: cover;
}

/* Container */
.kwc-grid-k .row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Cell */
.kwc-grid-k .column {
  width: 16.66666%;
  padding: 1.4vw;
  font-size: 1vw;
  line-height: 1.6;
  height: 100%;
  color: #000;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.kwc-grid-k .column p {
  font-size: 1vw !important;
}

/* Big text */
.kwc-grid-k .column h6 {
  font-family: rf dewi expanded black custom;
  display: inline-block;
  margin-bottom: 0.5vw;
  font-size: 5vw;
  line-height: 1;
}

/* Strong text */
.kwc-grid-k .column strong {
  font-size: 1.4vw;
  margin-bottom: 0.5vw;
}

/* First row */
.kwc-grid-k .row:first-child {
  margin-top: 1.5vw;
  height: 22.45vw;
}

.kwc-grid-k .row:first-child .column:nth-child(2) {
  transform: skewY(20deg);
  transform-origin: right bottom;
}

.kwc-grid-k .row:first-child .column:nth-child(4) {
  transform: skewY(20deg);
  transform-origin: left bottom;
}

.kwc-grid-k .row:first-child .column:nth-child(5) {
  margin-top: 11.9vw;
  transform: skewY(20deg);
  transform-origin: top right;
}

.kwc-grid-k .column:nth-child(3) img,
.kwc-grid-k .column:nth-child(5) img {
  margin-top: 1vw;
  width: 100%;
  display: block;
}

.kwc-grid-k .column:nth-child(5) img {
  margin-left: -1px;
}

/* Second row */
.kwc-grid-k .row:nth-child(2) {
  height: 16.48vw;
}

.kwc-grid-k .row:nth-child(2) .column:nth-child(2) {
  opacity: 0;
}

.kwc-grid-k .row:nth-child(2) .column:nth-child(5) {
  transform: skewY(20deg);
  transform-origin: left top;
}

.kwc-grid-k .row:nth-child(2) .column:nth-child(5) img {
  display: block;
  width: 100%;
  margin-top: -1vw;
  margin-left: -0.3vw;
}

/* Third row */
.kwc-grid-k .row:nth-child(3) {
  margin-bottom: 15vw;
}

.kwc-grid-k .row:nth-child(3) .column:nth-child(2) {
  opacity: 0;
}

.kwc-grid-k .row:nth-child(3) .column:nth-child(4) {
  opacity: 0;
}

.kwc-grid-k .row:nth-child(3) .column:nth-child(5) {
  padding-top: 7.5vw;
}

.kwc-grid-k .row:nth-child(3) .column:nth-child(5) i * {
  font-size: 3vw !important;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
}
