/* Menu */
.kwc-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  /* background: #000; */
  transform: translateX(-100vw);
  transition: all ease-in-out 0.4s;
  z-index: 1001;
}

.kwc-menu.open {
  transform: translateX(0);
}

.menu-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.menu-col {
  height: 100vh;
  width: 25%;
  padding: 0 30px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.menu-border {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  height: 0;
  width: 1px;
  background: #fff;
  z-index: 2;
}

.menu-num {
  font-family: RF Dewi Expanded Black Custom;
  font-size: 72px;
  letter-spacing: 3px;
  position: absolute;
  top: 100px;
  left: -200px;
  opacity: 0;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
  z-index: 2;
}

.nav-box {
  position: absolute;
  opacity: 0;
  left: -200px;
  z-index: 2;
  text-align: left;
  /* transform: translateX(-250px); */
}

.nav-box p {
  display: block;
  color: #000;
  font-family: 'RF Dewi Custom';
  z-index: 2;
  transition: all ease-in-out 0.25s;
}

.nav-status {
  font-size: 14px;
  padding: 0 0 80px;
}

.nav-title {
  font-family: rf dewi extended custom;
  font-size: 36px;
  padding: 0 0 30px;
}

.nav-item-box {
  display: flex;
  align-items: center;
  padding: 0 0 15px;
  cursor: pointer;
}

.nav-item-box:hover .nav-item-line {
  width: 30px;
}

.nav-item-box:hover .nav-item {
  transform: translateX(8px);
}

.nav-item-line {
  width: 0;
  height: 2px;
  background: #fff;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.nav-item {
  font-size: 18px;
  cursor: pointer;
}

.menu-col-1 {
  background: url('http://ucraft.neekeesh.com/img/mn-1.jpg');
  background-position: center;
  background-size: cover;
}

.menu-col-2 {
  background: url('http://ucraft.neekeesh.com/img/mn-2.jpg');
  background-position: center;
  background-size: cover;
}

.menu-col-3 {
  background: url('http://ucraft.neekeesh.com/img/mn-3.jpg');
  background-position: center;
  background-size: cover;
}

.menu-col-4 {
  background: url('http://ucraft.neekeesh.com/img/mn-4.jpg');
  background-position: center;
  background-size: cover;
}

.menu-bg canvas {
  z-index: 1;
}
