/**
 * TITLE
 */

.kwc-title {
  max-width: 100%;
  height: calc(40vw + 200px);
  margin-bottom: -40vw;
  overflow: hidden;
  background-color: #fff;
}

.kwc-title-inner {
  position: relative;
  width: 1200px;
  height: 40vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kwc-title-column {
  position: absolute;
  top: 0;
  right: 66.666%;
  width: 200vw;
  min-width: 33.333%;
  text-align: right;
  height: 300px;

  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.kwc-title-column {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f7f7),
    to(transparent)
  );
  background: -webkit-linear-gradient(#f7f7f7, transparent);
  background: -o-linear-gradient(#f7f7f7, transparent);
  background: linear-gradient(#f7f7f7, transparent);
}

.kwc-title-skew {
  position: absolute;
  top: 0;
  left: 33.333%;
  width: 200vw;
  height: 300px;
  min-width: 66.666%;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
}

.kwc-title-skew:before {
  content: '';
  display: block;
  position: absolute;
  top: -300px;
  left: -300px;
  width: 600px;
  height: 600px;
  background: -webkit-radial-gradient(closest-side, #eee, transparent);
  background: -o-radial-gradient(closest-side, #eee, transparent);
  background: radial-gradient(closest-side, #eee, transparent);
}

.kwc-title-column,
.kwc-title-skew {
  overflow: hidden;
}

.kwc-title-mover {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.kwc-title-text {
  padding-right: 40px;
  font-size: 120px;
  font-family: 'RF Dewi Expanded Black Custom';
}

/**
 * PREV BG
 */

.kwc-title-fill-bg .kwc-title-inner:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 33.333%;
  width: 100vw;
  height: 40vw;
  min-width: 66.666%;
  background-color: #000;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  transform: skewY(20deg);
}

/**
 * REVERSED TITLE
 */

.kwc-title-fill-bg .kwc-title.kwc-title-reverse .kwc-title-inner:before {
  left: auto;
  right: 33.333%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  transform: skewY(-20deg);
}

.kwc-title.kwc-title-reverse .kwc-title-column {
  right: auto;
  left: 66.666%;
  min-width: 33.333%;
}

.kwc-title.kwc-title-reverse .kwc-title-skew {
  -webkit-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  transform: skewY(-20deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  left: auto;
  right: 33.333%;
}

.kwc-title.kwc-title-reverse .kwc-title-skew:before {
  left: auto;
  right: -300px;
}

/**
 * DARK THEME
 */

.kwc-title.kwc-title-dark,
.kwc-title.kwc-title-dark .kwc-title-skew {
  background-color: #000;
}

.kwc-title.kwc-title-dark .kwc-title-column {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#171717),
    to(transparent)
  );
  background: -webkit-linear-gradient(#171717, transparent);
  background: -o-linear-gradient(#171717, transparent);
  background: linear-gradient(#171717, transparent);
}

.kwc-title.kwc-title-dark .kwc-title-skew:before {
  background: -webkit-radial-gradient(closest-side, #272727, transparent);
  background: -o-radial-gradient(closest-side, #272727, transparent);
  background: radial-gradient(closest-side, #272727, transparent);
}

.kwc-title.kwc-title-dark .kwc-title-text {
  color: #fff;
}

.kwc-title.kwc-title-dark.kwc-title-fill-bg .kwc-title-inner:before {
  background-color: #fff;
}
