.content-wrapper
  .content-wrapper__inner
    img.content-wrapper__photo(src=require('/src/assets/img/photo/kowloon_walled_city_1989_aerial.jpg'))
    .photo-notes-horizontal
      .photo-note
        .photo-note__title Photograph
        .photo-note__text Kowloon Walled City Aerial

      .photo-note
        .photo-note__title Author
        .photo-note__text Greg Girard

      .photo-note
        .photo-note__title Album
        .photo-note__text Kowloon Walled City: Revisited

    .content-wrapper__title What is it?
    .content-wrapper__text
      |This is how, without embellishment, begins the story of one of the most incredible places
      |that ever existed on our planet - the Kowloon Walled City. The City of Darkness,
      |the Hong Kong Anthill - this absolute record holder for population density has had many names,
      |but all of them, one way or another, made it clear that people here literally live on each other's heads.

.scrollmagic-pin-spacer(data-scrollmagic-pin-spacer="")
  .kwc-scroll-wrapper
    img.kwc-scroll-img(src="/img/kcity.jpg" alt="" style="transform: matrix(1, 0, 0, 1, 0, 0);")

.content-wrapper
  .content-wrapper__inner
    .photo-notes-horizontal
      .photo-note
        .photo-note__title Photograph
        .photo-note__text Kowloon Facade

      .photo-note
        .photo-note__title Author
        .photo-note__text Greg Girard

      .photo-note
        .photo-note__title Album
        .photo-note__text Kowloon Walled City: Revisited

    .content-wrapper__title How did this happen?
    .content-wrapper__text
      |In a nutshell, China and Great Britain were so busy dividing the territories under their
      |control that they completely forgot about the small piece of land that began to live its
      |own life and obey no one. Surprisingly, most people voluntarily lived in such conditions.
      |They preferred freedom to their usual life. Everyone has their own concept of freedom:
      |they understood it as the opportunity to not follow the law, not pay taxes, and generally
      |do whatever their heart desires and not be convicted for it. There were also those who
      |simply had nowhere else to go. There were more and more of both. Over time, entire generations
      |changed in this city, and the natives simply could not imagine what it was like to live
      |differently. Although in order to see a different life, it was enough to leave the walls
      |of the anthill.
